{% extends "base.twig" %}
{% block content %}
    <!-- ============== Start pageHeader =============== -->
    <div class="pageHeader text-center">
        <div class="container">
            <h2 data-wow-delay="0.3s" class="wow">{{ H.trans(post.post_title) }}</h2>
        </div>
    </div>
    <!-- ============== End pageHeader =============== -->

    {{ H.trans(post.post_content)|raw }}

    <!-- ============== Start InquiriesComplaints =============== -->
    {% include 'inquiriesblk.twig' %}
    <!-- ============== End InquiriesComplaints =============== -->
{% endblock %}
